# Core Python
python==3.10

# Data & Visualization
pandas==1.5.3
numpy==1.23.5
matplotlib==3.6.3
seaborn==0.12.2

# NLP & ML
scikit-learn==1.2.2
spacy==3.5.4
nltk==3.8.1
gensim==4.3.1

# Jupyter
jupyterlab
ipywidgets==8.0.6

# Hugging Face & Transformers Stack
torch==2.0.1
transformers==4.32.0
sentence-transformers==2.2.2
datasets==2.14.4
accelerate==0.21.0
evaluate==0.4.0

# Topic Modeling
bertopic==0.15.0

# Utils
tqdm==4.65.0